@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
  color:#fff;
}
body{
    background-color: #e1bee7;
}